* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
  padding-left: 15px;
}

[class*="col-"] {
  float: left;
  column-gap: 10px;
}

.ingredients table {
  float: right;
}

.ingredients li {
}

.ingredients img {
  max-width: 100%;
  height: auto;
}

.instructions li {
  padding: 8px;
}

.instructions li:nth-child(even) {
  background-color: #d2d2d2;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}

