@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: sans-serif; */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin:8px;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  width:100%;
  border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

a:link {
  text-decoration: none;
  color:inherit;
}

a:visited {
  text-decoration: none;
  color:inherit;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.col-10 {
  width: 10%;
}

.col-30 {
  width: 30%;
}
.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%; 
}

[class*="col-"] {
  float: left;
}

.titlebar img {	
  float: left;
  max-width: 100%;
  height: auto;
}

.titlename {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px; 
}

.summary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 20px;
  border: 1px solid black; 
  font-weight: bold;
}

.ingredients table {
  float: right;
}

img {
  max-width: 100%;
  height: auto;
}

.instructions li {
  padding: 8px;
}

.instructions li:nth-child(even) {
  background-color: #d2d2d2;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



@media (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }  
}

@media (max-width: 290px) {
  h1{
    font-size: 1em;
  }
}

@media (min-width: 290px) {
  h1{
    font-size: 2em;
  }
}

@media (min-width: 600px) {
  h1{
    font-size: 1em;
  }
}

@media (min-width: 658px) {
  h1{
    font-size: 2em;
  }
}



